<div class="container px-5 px-sm-0">
  <div class="row ml-3">
    <%= render 'users/list',user: @user, book: @book, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry %>

    <div class="col-md-8 offset-md-1 mt-3 pr-4">
      <%= render "books/index", books: @books %>
    </div>
    <div class="col-md-10 offset-md-1 mt-3">
      <div class="table-width mt-4">
        <h4>投稿の前日比・前週比</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>前日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @book_today.count %></td>
              <td><%= @book_yesterday.count %></td>
              <td>
                <% if @book_yesterday.count == 0 %>
                  <p>0</p>
                <% else %>
                  <% @day_before_ratio = @book_today.count / @book_yesterday.count.to_f %>
                  <%= (@day_before_ratio * 100).round(2) %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-width mt-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>前週の投稿数</th>
              <th>前週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @book_this_week.count %></td>
              <td><%= @book_last_week.count %></td>
              <td>
                <% if @book_last_week.count == 0 %>
                  <p>0</p>
                <% else %>
                  <% @week_ratio = @book_this_week.count / @book_last_week.count.to_f %>
                  <%= (@week_ratio * 100).round(2) %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>