<div class="container px-5 px-sm-0">
  <%= render 'layouts/errors',obj: @book %>
  <%= render 'layouts/header',user: @user%>
  <div class="row ml-3">
    <%= render 'users/list',user: @user, book: @book %>
    <div class="col-md-8 offset-md-1 mt-3 pr-4">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>いいね数</th>
            <th>コメント数</th>
            <th>閲覧数</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <td>
            <td><%= link_to user_path(book.user_id) do %><%= attachment_image_tag book.user, :profile_image,:fill,100,100,format: 'jpeg', fallback: "no_image.jpg",size: '40x40' %>
             <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
              <%= book.title %></td>
              <% end %>
            <td><%= book.body %></td>
            <td id ="book_favorites_<%= book.id %>">
              <%= render 'favorites/favorite',book: book %>
            </td>
            <td><%= book.book_comments.count %></td>
            <td><%= book.impressions_count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <h4>7日分の投稿数</h4>
      <table class="table">
        <thead>
          <tr>
            <th>6日前</th>
            <th>5日前</th>
            <th>4日前</th>
            <th>3日前</th>
            <th>2日前</th>
            <th>1日前</th>
            <th>今日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @books_regular.created_6days_ago.count %></td>
            <td><%= @books_regular.created_5days_ago.count %></td>
            <td><%= @books_regular.created_4days_ago.count %></td>
            <td><%= @books_regular.created_3days_ago.count %></td>
            <td><%= @books_regular.created_2days_ago.count %></td>
            <td><%= @books_regular.created_yesterday.count %></td>
            <td><%= @books_regular.created_today.count %></td>
          </tr>
        </tbody>
      </table>
      <canvas id="myLineChart" width="300" height="100"></canvas>
      <script>
        var ctx = document.getElementById("myLineChart").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [{
              label: "本の投稿数",
              data: [<%= @books_regular.created_6days_ago.count %>, <%= @books_regular.created_5days_ago.count %>, <%= @books_regular.created_4days_ago.count %>, <%= @books_regular.created_3days_ago.count %>, <%= @books_regular.created_2days_ago.count %>, <%= @books_regular.created_yesterday.count %>, <%= @books_regular.created_today.count%>],
              backgroundColor: 'rgba(255, 80, 120, 1.0)',
              borderColor: 'rgba(255, 80, 120, 1.0)',
              fill: false
              }]
            },
          });
       </script>
       <div>
         
       </div>
          
    </div>
  </div>
</div>