<div class="container px-5 px-sm-0">
  <%= render 'layouts/errors',obj: @book %>
  <%= render 'layouts/header',user: @user%>
  <div class="row ml-3">
  <%= render 'users/list',user: @user, book: @book %>

    <div class="col-md-8 offset-md-1 mt-3 pr-4">
      <h2>Books</h2>
      <%= link_to "新しい順",books_path(sort_new: "true") %>｜<%= link_to "評価の高い順" ,books_path(sort_rate: "true") %>｜<%= link_to"閲覧数の多い順" , books_path(sort_rank: "true")%>
      <%= render "books/index", books: @books %>
    </div>
    <div class="col-md-10 offset-md-1 mt-3">
      <h4>7日分の投稿数</h4>
      <table class="table">
        <thead>
          <tr>
            <th>6日前</th>
            <th>5日前</th>
            <th>4日前</th>
            <th>3日前</th>
            <th>2日前</th>
            <th>1日前</th>
            <th>今日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @books.created_6days_ago.count %></td>
            <td><%= @books.created_5days_ago.count %></td>
            <td><%= @books.created_4days_ago.count %></td>
            <td><%= @books.created_3days_ago.count %></td>
            <td><%= @books.created_2days_ago.count %></td>
            <td><%= @books.created_yesterday.count %></td>
            <td><%= @books.created_today.count %></td>
          </tr>
        </tbody>
      </table>
      <canvas id="myLineChart" width="300" height="100"></canvas>
      <script>
        var ctx = document.getElementById("myLineChart").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [{
              label: "本の投稿数",
              data: [<%= @books.created_6days_ago.count %>, <%= @books.created_5days_ago.count %>, <%= @books.created_4days_ago.count %>, <%= @books.created_3days_ago.count %>, <%= @books.created_2days_ago.count %>, <%= @books.created_yesterday.count %>, <%= @books.created_today.count%>],
              backgroundColor: 'rgba(255, 80, 120, 1.0)',
              borderColor: 'rgba(255, 80, 120, 1.0)',
              fill: false
              }]
            },
          });
      </script>
    </div>
  </div>
</div>