<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <table>
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>intoduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
        <div class="row">
        <% if @user.id == current_user.id %>
          <%= link_to "edit", edit_user_path(@user)%>
        <% else %>
          <%= link_to "edit", user_path(current_user.id)%>
        <% end %>
        </div>

      <h2 class="mt-3">New Book</h2>
      <%= form_with model: @book_s, local:true do |f| %>
       <div>
        <label for="form-groupe">Title</label>
        <%= f.text_field :title %>
      </div>
      <div>
        <label for="form-groupe">Opinion</label>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit "Create Book"%>
      </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
       <tbody>
         <tr>
          <td>
           <div><%= attachment_image_tag @book.user,:profile_image,:fill,100,100 %></div>
           <div><%= link_to user_path(@book.user_id) do %>
           <%= @book.user.name %>
           <% end %>
           </div>
          </td>
          <td>
          <%= link_to book_path(@book) do %>
          <%= @book.title %>
          <% end %>
          </td>
          <td><%= @book.body %></td>
          <% if @book.user_id == current_user.id %>
           <td><span class="btn btn-sm btn-success"><%= link_to "Edit", edit_book_path(@book)%></span></td>
           <td><span class="btn btn-sm btn-danger"><%= link_to "Destroy", book_path(@book),method: :delete, "data-confirm"=> "本当に消しますか？" %></span></td>
          <% end %>
       </tbody>
      </table>
    </div>
  </div>
</div>



