<div class="container px-5 px-sm-0">
  <%= render 'layouts/header',user: @user%>
  <div class="row mt-3">
    <%= render 'users/list',user: @user, book: @book_s %>
    <div class="col-md-8 offset-md-1 mt-3 pr-4">
      <h2>Groups</h2>
      <span><%= link_to "グループを作成する", new_group_path %></span>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー数</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @groups.each do |group| %>
            <td><%= attachment_image_tag group, :image,:fill,100,100,format: 'jpeg', fallback: "no_image.jpg",size: '40x40' %></td>
            <td>
              <%= link_to group_path(group) do %>
              <%= group.name %><% end %>
            </td>
            <td><%= group.introduction %></td>
            <td><%= group.users.count %></td>
            <td>
              <% if group.owner_id == current_user.id  %>
                <%= link_to edit_group_path(group) do %><button class="btn btn-success">Edit</button>
              <% end %>
            </td>
            <td>
              <%= link_to group_path(group), method: :delete,"data-confirm" => "本当に消しますか？"  do %>
                <button class="btn btn-danger">Delete</button>
              <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
