<div class="container px-5 px-sm-0">

  <%= render 'users/list',user: @user, book: @book_s %>

  <div class="col-md-8 offset-md-1 mt-3">
    <h2>Group detail</h2>
    <table class="table table-striped">
     <thead>
       <tr>
         <th></th>
         <th>グループ名</th>
         <th>紹介文 </th>
         <th>メンバー</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr>
        <td>
         <div><%= attachment_image_tag @group,:image,:fill,100,100,format: 'jpeg', fallback: "no_image.jpg",size: '50x50'%></div>
        </td>
        <td><%= @group.name %></td>
        <td>
        <%= @group.introduction %>
        </td>
        <td>
          <% @group.users.each do |group_user| %>
            <div><%= group_user.name %></div>
          <% end %>
        </td>
        <td><%  unless current_user.id == @group.owner_id %>
              <% if @group.joined_by?(current_user) %>
                <button class="btn btn-danger text-white"><%= link_to group_group_user_path(@group.id), method: :delete, class: "text-white" do %>Leave this group<% end %></button>
              <% else %>
                <button class="btn btn-primary text-white"><%= link_to group_group_users_path(@group.id), method: :post, class: "text-white" do %>Join this group<% end %></button>
              <% end %>
            <% else %>
              <button class="btn btn-info ">Notice an Event</button>
            <% end %>
        </td>
     </tbody>
    </table>
</div>