
      <h4>Comment</h4>
      <table class="table">
        <tbody >
          <% book.book_comments.each do |book_comment| %>
          <tr>
            <td>
             <div><%= attachment_image_tag book_comment.user,:profile_image,:fill,50,50, fallback: "no_image.jpg",size: "50x50" %></div>
             <div>
              <%= link_to user_path(book.user_id) do %>
               <%= book_comment.user.name %>
              <% end %>
             </div>
            </td>
            <td><%= book_comment.comment %></td>
            <td><% if book_comment.user == current_user %>
              <button type="button" class="btn btn-danger btn-sm">
                <%= link_to "destroy", book_book_comment_path(book,book_comment), method: :delete,remote: true, class: "text-white"%>
              </button>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= form_with model: [book,book_comment] do |f| %>
      <div class="field">
        <%= f.text_area :comment, size: "60x5",rows:'5'%>
        <%= f.submit "送信" %>
      </div>
      <% end %>
    </div>
  </div>



